html,
body,
main {
  height: 85vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
}
nav {
  background-color: lightgoldenrodyellow;
}
main {
  display: flex;
}
article {
  order: 2;
  min-width: 12em;
  flex: 1;
}
nav {
  order: 1;
  width: 200px;

}

header {
  height: 3em;
  background-color: green;
  align-self: center;
  color: white;
}

footer {
  height: 2em;
  background-color: black;
  color: white;
}
